* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  height: 50px;
  background-color: bisque;
}
footer {
  height: 100px;
  background-color: bisque;
}
main {
  display: flex;
  height: calc(100vh - 50px - 100px);
}
aside {
  display: flex;
  justify-content: start;
  align-items: flex-start;
  width: 200px;
  overflow-y: scroll;
  background-color: brown;
}
section {
  display: flex;
  justify-content: start;
  align-items: flex-start;
  flex: 1;
  overflow-y: scroll;
  background-color: burlywood;
}
